@import url(public.css);
body{
	padding-bottom: 1000px;
}

/* top */
#top{
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
}
#top .container{
	width: 980px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;/* 两端对齐  */
}
#top .left{
	position: relative;
}
#top .logo{
	margin: 0 20px;
	position: relative;
	z-index: 4;
}
#top .left span a{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;

	padding: 0 3px 3px;
	border-bottom: 1px solid #eee;
	background: #fff;

	display: none;
}
#top .left span:hover a{
	display: block;
}

#top .right{
	position: relative;
	display: flex;
}
#top .right h3{
	color: #464646;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	position: relative;
}
#top .right h3 a{
	color: #464646;
}
#top .right h3 a:hover{
	color: #ff4e00;
}
#top h3.text1{
	margin-right: 20px;
	padding-left: 30px;
}
#top h3.text1::before{
	content: '';
	width: 30px;
	height: 30px;
	background: url(../images/ico_01.png) -30px 0;

	position: absolute;
	left: 0;
	top: 5px;
}

#top h3.text2{
	padding-right: 30px;
	cursor: pointer;
}
#top h3.text2::after{
	content: '';
	width: 30px;
	height: 30px;
	background: url(../images/ico_01.png);

	position: absolute;
	right: 3px;
	top: 5px;

	opacity: .1;
	transform: rotate(90deg);
}
#top .right iframe{
	display: none;

	width: 708px;
	height: 582px;

	position: absolute;
	right: 0;
	top: 40px;
	z-index: 4;
}
#top h3.text2:hover iframe{
	display: block;
}


/* nav */
#nav{
	height: 134px;
	background: url(../images/nav_bg.png) center no-repeat;
	position: relative; /* nav2是绝对定位 */
}
#nav .nav1{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	position: relative;
	z-index: 2;
}
#nav .nav1 .title{
	display: flex;
	margin-right: 40px;
}
#nav .nav1 .title a{
	margin: 6px 20px 0 0;
}
#nav .nav1 h1{
	font-size: 24px;
	color: #ffb400;
	margin-top: 28px;
	position: relative;
}
#nav .nav1 h1 span{
	font-size: 14px;
	color: #fff;
	display: block;
	font-weight: normal;
	margin-top: 2px;
}
#nav .nav1 h1::after{
	content: '';
	width: 69px;
	height: 19px;
	position: absolute;
	top: 8px;
	right: -16px;
	background: url(../images/new_version.png);
}
#nav .nav1 ul{
	display: flex;
}
#nav .nav1 li a{
	display: block;
	width: 102px;
	height: 102px;
	line-height: 102px;

	font-size: 16px;
	color: #fff;
	text-align: center;
}
#nav .nav1 li a:hover{
	color: #ffb400;
}
#nav .nav1 li:last-child a{
	color: #ffb400;
	text-decoration: underline;
}
#nav .nav1 .login{
	width: 126px;
	height: 100px;
	position: absolute;
	top: 0;
	right: -120px;

	display: flex;
	flex-direction: column; /* 子元素竖着排 */
	justify-content: center;
	align-items: center;
}
#nav .nav1 .login > span{
	width: 46px;
	height: 45px;

	background: url(../images/dia-login-head.png) no-repeat;
	cursor: pointer;
}
#nav .nav1 .login p{
	color: #fff;
}
#nav .nav1 .login p span{
	color: #ffb400;
	cursor: pointer;
}

#nav .nav2{
	width: 100%;
	height: 400px;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;

	height: 0;
	overflow: hidden;
	transition: height .3s ease;
}
#nav .nav2 > ul{
	width: 1100px;
	margin: 115px auto 0;
	position: relative;
	left: 389px;

	display: flex;
}
#nav .nav2 li li{
	width: 106px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;

	position: relative;
}
#nav .nav2 a{
	color: #fff;
}
#nav .nav2 a:hover{
	color: #ffb400;
}
#nav .nav2 .new::before, #nav .nav2 .hot::before{
	content: 'N';
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
	background: #f31419;
	border-radius: 50%;

	position: absolute;
	left: 3px;
	top: 12px;
}
#nav .nav2 .hot::before{
	content: 'H';
	left: 10px;
	top: 11px;
}
#nav .nav2 ul > li:nth-child(2) li:last-child::before{
	/* 第2列最后一个li */
	left: -3px;
}
#nav .nav2 ul > li:nth-child(4) li:first-child::before{
	/* 第4列第1个li */
	left: -12px;
}
#nav .nav2 ul > li:nth-child(5) li:nth-child(3)::before{
	/* 第5列第3个li */
	left: 3px;
}
#nav .contact span{
	width: 132px;
	padding: 6px;
	background: #fff;
	position: absolute;
	left: -158px;

	display: none;
}
#nav .contact img{
	width: 100%;
}
#nav .contact span::after{
	content: '';
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -19px;
}
#nav .contact li:nth-child(1) span{
	top: -15px;
}
#nav .contact li:nth-child(1) span::after{
	top: 26px;
}
#nav .contact li:nth-child(2) span{
	top: -40px;
}
#nav .contact li:nth-child(2) span::after{
	top: 50px;
}
#nav .contact li:nth-child(3) span{
	top: -48px;
}
#nav .contact li:nth-child(3) span::after{
	top: 58px;
}
#nav .contact li:nth-child(4) span{
	top: -45px;
}
#nav .contact li:nth-child(4) span::after{
	top: 55px;
}
#nav .contact li:hover span{
	display: block;
}
#nav:hover .nav2{
	height: 400px;
}


/* 登录弹窗 */
#loginBox .wrap{
	width: 634px;
	height: 327px;
	background: url(../images/dia-login-bg.png) no-repeat center;
}
#loginBox .btn{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
#loginBox .btn a{
	width: 130px;
	height: 164px;
	font-size: 0;
	margin: 0 40px;
}
#loginBox .btn a:nth-child(1){
	background: url(../images/dia-login-qq.png) no-repeat center;
}
#loginBox .btn a:nth-child(2){
	background: url(../images/dia-login-wx.png) no-repeat center;
}


/* bg1 */
#bg1{
	height: 650px;
	background: #fff url(../images/bg_01.jpg) no-repeat center;
	margin-top: -134px;
}

/* banner */
#banner{
	height: 562px;
	padding-top: 20px;
	background: #fff url(../images/bg_02.jpg) no-repeat center;
}
#banner .container{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#banner .tip{
	width: 119px;
	height: 154px;
	background: url(../images/year-btn.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;

	position: absolute;
	left: -135px;
	top: 0;
}
#banner .top{
	display: flex;
	height: 320px;
}
#banner .down{
	width: 180px;
	background: url(../images/down_bg.png) no-repeat center;
	text-align: center;
}
#banner .down h3{
	font-size: 18px;
	line-height: 36px;
	color: #ffb007;
	font-weight: normal;
}
#banner .down a{
	display: block;
	height: 54px;
	margin-bottom: 5px;
	text-indent: -9999px;
	overflow: hidden;
}
#banner .down img{
	width: 160px;
}


#banner .carousel{
	width: 590px;
}
#banner .carouselInner{
	width: 200%;
}
#banner .carouselIndicators{
	right: 17px;
	bottom: 15px;
}
#banner .carouselIndicators span{
	width: 20px;
	height: 8px;
	margin-right: 7px;
}
#banner .carouselIndicators span.active{
	width: 44px;
}

#banner .news{
	width: 430px;
	background: #fff;
}
#banner .tab{
	height: 48px;
	line-height: 48px;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
}
#banner .tab li{
	font-style: 16px;
	color: #000;
	text-align: center;
	border-bottom: 3px solid #fff;
	margin: 0 17px;
	cursor: pointer;
}
#banner .tab li.active{
	color: #ffb007;
	border-color: #ffb007;
	font-weight: bold;
}
#banner .tab li:hover{
	color: #ffb007;
}
#banner .tabContent li{
	font-size: 14px;
	color: #000;
	line-height: 35px;
	padding-left: 35px;

	display: flex;
}
#banner .tabContent li span{
	color: #656565;
	margin-right: 8px;
}
#banner .tabContent li a{
	width: 290px;
	color: #000;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#banner .tabContent li a:hover{
	color: #ffa100;
}
#banner .tabContent li i{
	color: #24262d;
	font-style: normal;
}
#banner .tabContent li:first-child{
	background: #f7f7f7;
	line-height: 60px;
	margin-bottom: 10px;
	padding: 0 35px;
	font-weight: bold;
}
#banner .tabContent li:first-child a{
	width: 100%;
	color: #ffa100;
	font-size: 16px;
}
#banner .bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

#yearBox .wrap{
	width: 674px;
	height: 613px;
	background: url(../images/year-hint.png) no-repeat;
}
#yearBox .scroll{
	width: 610px;
	height: 470px;
	margin: 50px auto 0;
}
#yearBox .scrollContent{
	width: 584px;
	font-size: 20px;
	color: #535353;
	line-height: 33px;
}
#yearBox .scrollContent p{
	margin-bottom: 40px;
}
#yearBox .scrollContent h4{
	font-size: 22px;
	color: #dc7c00;
	font-weight: normal;
}


/* section2 */
#section2 .left{
	width: 790px;
}

#section2 .left .tabContent{
	height: 420px;
	overflow: hidden;
	position: relative;
}

#section2 .mode .carouselIndicators{
	width: 100%;
	justify-content: center;
	bottom: 10px;
}
#section2 .mode .carouselIndicators span{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 5px;
}

#section2 .arms{
	background: url(../images/sec2_box.png) no-repeat center;
}
#section2 .arms .text{
	width: 610px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin: 19px 0 0 16px;
}
#section2 .arms .text h4{
	width: 108px;
	line-height: 36px;
	font-size: 20px;
	text-align: center;
}
#section2 .arms .name span{
	display: block;
}
#section2 .arms .intro{
	width: 350px;
	font-size: 14px;
}
#section2 .parts{
	width: 140px;
	position: absolute;
	right: 10px;
	top: 15px;
	text-align: right;
	font-size: 0;
}
#section2 .parts li{
	display: inline-block;
	font-size: 14px;
	margin: 0 5px 5px;
}
#section2 .parts img{
	width: 54px;
	height: 54px;
	background: rgba(0, 0, 0, .2);
	border: 1px solid rgba(255, 255, 255, .3);
	padding: 2px;
}
#section2 .parts p{
	color: #fff;
	margin-top: 5px;
	text-align: center;
}
#section2 .skin{
	display: flex;
	position: absolute;
	left: 10px;
	top: 78px;
	z-index: 2;
}
#section2 .skin .btn{
	color: #fff;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	margin-right: 20px;
}
#section2 .skin .btn span{
	width: 58px;
	height: 58px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(0, 0, 0, .2);
	border: 1px solid rgba(255, 255, 255, .3);
}
#section2 .skin.active .btn{
	color: #fec146;
}
#section2 .skin.active span{
	border-color: #fec146;
}

#section2 .skin ul{
	display: none;
}
#section2 .skin.active ul{
	display: flex;
}

#section2 .skin li{
	width: 85px;
	height: 71px;
	background: rgba(41, 41, 41, .8);
	cursor: pointer;
	text-align: center;
	color: #fff;
	padding-top: 8px;
}
#section2 .skin li img{
	display: block;
	width: 90%;
	margin: 0 auto 8px;
}
#section2 .skin li.active{
	color: #fec146;
}
#section2 .bigArms{
	width: 475px;
	height: 206px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 105px;
	margin: 0 auto;
}
#section2 .bigArms img{
	width: 100%;
}
#section2 .smallArms{
	width: 516px;
	height: 80px;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	margin: 0 auto;
}
#section2 .move{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#section2 .move ul{
	position: absolute;
	display: flex;
}
#section2 .move li{
	padding: 0 6px;
}
#section2 .move span{
	width: 72px;
	height: 52px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #666562;
}
#section2 .move span img{
	width: 90%;
}
#section2 .move p{
	font-size: 15px;
	text-align: center;
	color: #eaebeb;
	margin-top: 5px;
}
#section2 .move .active span{
	border-color: #fec146;
}
#section2 .move .active p{
	color: #fec146;
}
#section2 .smallArms .btn{
	width: 25px;
	height: 40px;
	background: url(../images/sprites.png) no-repeat;

	position: absolute;
	top: 5px;
	cursor: pointer;
}
#section2 .smallArms .prev{
	left: -40px;
	background-position: -170px -170px;
}
#section2 .smallArms .next{
	right: -40px;
	background-position: -140px -170px;
}
#section2 .smallArms .disable{
	opacity: .35;
	cursor: default;
}